#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}
#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: aqua;
}

body {
    background-color: #e6edf3;
    font-family: Helvetica, Arial, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

h2 {
    margin: 0;
}

header {
    background-color: rgb(85, 84, 84);

}

nav a{
    text-align: center;
    color: rgb(177, 187, 187);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: rgb(65, 63, 63);
    color: #d9c2a3;
}

.home-title {
    color: rgb(85, 84, 84);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: rgb(85, 84, 84);
}

.book {
    color: rgb(78, 147, 194);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;
}

.join {
    color: rgb(78, 147, 194);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: rgb(65, 63, 63);
}

.join:hover {
    background-color: rgb(65, 63, 63);
}

.msg {
    background-color: rgb(85, 84, 84);
    line-height: 1.5em;
    padding:35px;
    
}

.msg h2 {
    color: rgb(177, 187, 187);
}

.msg p {
    color: rgb(177, 187, 187);
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

footer a {
    color: black;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
}

footer a:hover {
    color: rgb(65, 63, 63);
}

footer p a:hover {
    text-decoration: underline;
}
footer {
    background-color: lightgray;
    color: rgb(65, 63, 63);
    padding: 25px 50px;
}

.logo {
    width: 80px;
}



